<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eff760">  <td>19/11/13 15:52:15</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;PaidCoursePerformTest.setupTestData()[pri:0, instance:clui.PaidCoursePerformTest@3c19aaa5]">&gt;&gt;setupTestData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922511709</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/11/13 15:52:16</td>   <td>595</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.intializeBrowser(org.testng.ITestContext)[pri:0, instance:clui.PaidCoursePerformTest@3c19aaa5]">&gt;&gt;intializeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922511709</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>19/11/13 15:52:19</td>   <td>4403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaidCoursePerformTest.coursePerform()[pri:0, instance:clui.PaidCoursePerformTest@3c19aaa5]">coursePerform</td> 
  <td>main@922511709</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/11/13 15:57:08</td>   <td>293060</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.closeWindow()[pri:0, instance:clui.PaidCoursePerformTest@3c19aaa5]">&lt;&lt;closeWindow</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@922511709</td>   <td></td> </tr>
</table>
